.command_description
  .field
    %h2= run.name
    %span.content{:class => run.exit_code == "0" ? "successful_run" : "failed_run" }=run.command
  .span-24.last
    .span-8
      .field
        %h3 
          Exit Code
          %span (bash)          
        %span.content=run.exit_code
    .span-8
      .field
        %h3 
          Runtime
          %span (in seconds)
        %span.content=run.runtime
    .span-8.last
      .field
        %h3 
          Executed at 
          %span (local machine time)
        %span.content=readable_datetime run.executed_at
  .field
    %h3 STDOUT
    %pre.content= run.stdout == "" ? "Empty" : run.stdout
  .field
    %h3 STDERR
    %pre.content= run.stderr == "" ? "Empty" : run.stderr
